.gradient-heading {
  font-weight: bold;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 2rem;
     background: linear-gradient(to right, var(--crimson), var(--persimmon), var(--crimson));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.faq-question,
.faq-answer {
  color: black;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  line-height: 1.4;
}

@media (max-width: 600px) {
  .gradient-heading {
    font-size: 1.7rem;
  }

  .faq-question,
  .faq-answer {
    font-size: 0.9rem;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .faq-question,
  .faq-answer {
    font-size: 1rem;
  }
}

@media (min-width: 960px) {
  .faq-question,
  .faq-answer {
    font-size: 1.05rem;
  }
}
