/* src/components/Navbar.css */

.navbar {
    background-color:rgb(86, 2, 77);
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* color: white; */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.05); */
   
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #8e98df;
  }
  .navbarLogo{
    height: 35px;
  }
  .navbarTitles{
    color: white;
  }
  .navbarTitles:hover {
  color: #ED6124;
}
